<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vizvol display volume page</title>
    </head>
    <body>
        <div>
            <h3><a href="/">Volome visualization </a></h3>
        </div>

        <div>
            <p>Volume in fl oz is: {{ vol }} fl oz</p>
            <p>Volume in ml is: {{ ml}} ml </p>
            <p>The volume is comparable to the following items combined. </p>
        </div>
        {%for i in range(0,  count )%}
	    <img src="static/img/{{ answers[i] }}oz.jpg" alt=""  height="345" />
        {%endfor%}
    </body>
</html>
