<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vizvol input volume page</title>
</head>
<body>
    <form action="/login" method="post">
        <p><font size="+3"> Volume Visualization </font></p>        
        <br>
        <font size="+1">
        <p>This website helps you visualize the volumes of the items you buy online. It displays common household items with similar volumes to help.</p>
        <p>For example, if you wanted to buy a 6 fl oz rice bowl, a 6 fl oz cough medicine bottle would be displayed.</p>
        <p> This Heroku application was developed using Python.</p>
        <p>Please use it for any items you plan to buy. I hope you like it and that it improves your online shopping experience!</p>
        </font>
        <font size="+2">
        <br>
        <p>Enter the volume of your item here (0 - 48 fl oz or 0 - 1419 ml) :</p>
        <br>
        <input type="text" name="volumeoz" id="volumeoz" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/> fl oz<br>
        <p><font size="+1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Or </font></p>
        <input type="text" name="volumeml" id="volumeml" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/> ml<br>
        <p> </p>
        <input type="submit" name="submit" id="post" value="Visualize"/><br>
        </font>
    </form>
</body>
</html>
