<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input volume page</title>
</head>
<body>
    <form action="/login" method="post">
        <p>Put your data here:</p>
        <label for="volume">Volume: 0 - 48fl oz only</label>
        <input type="text" name="volumeoz" id="volumeoz" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/>oz<br>
        <input type="text" name="volumeml" id="volumeml" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/>ml<br>
        <p> </p>
        <input type="submit" name="submit" id="post" value="get"/><br>
    </form>
</body>
</html>
