<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vizvol input volume page</title>
</head>
<body>
    <form action="/login" method="post">
        <p><font size="+3"> Volume Visualization </font></p>        
        <br>
        <font size="+2">
        <p>The purpose of this webpage is to help online shoppers visualize the volumes of the items they buy.</p>
        <p> For example, a cup of 16 fl oz could be visualized as having the volume of a water bottle.</p>
        <p> This application was developed using Python and on Heroku. Please use it for any items you buy. I hope you liked it and found it useful!</p>
        <br>
        <p>Enter the volume of your item here (0 - 48 fl oz or 0 - 1419 ml) :</p>
        <br>
        <input type="text" name="volumeoz" id="volumeoz" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/> fl oz<br>
        <p><font size="+1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Or </font></p>
        <input type="text" name="volumeml" id="volumeml" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/> ml<br>
        <p> </p>
        <input type="submit" name="submit" id="post" value="Visualize"/><br>
        </font>
    </form>
</body>
</html>
