<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vizvol input volume page</title>
</head>
<body>
    <form action="/login" method="post">
        <p>Put the volume of your item here (0 - 48fl oz) :</p>
        <label for="volume">Volume</label>
        <br>
        <input type="text" name="volumeoz" id="volumeoz" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/>fl oz<br>
        <br>
        <input type="text" name="volumeml" id="volumeml" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/>ml<br>
        <p> </p>
        <input type="submit" name="submit" id="post" value="Visualize"/><br>
    </form>
</body>
</html>
