<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vizvol input volume page</title>
</head>
<body>
    <form action="/login" method="post">
        <font size="+2">
        <p>Enter the volume of your item here (0 - 48 fl oz or 0 - 1419 ml) :</p>
        
        <br>
        <input type="text" name="volumeoz" id="volumeoz" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/> fl oz<br>
        <p><font size="+1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Or </font></p>
        <input type="text" name="volumeml" id="volumeml" maxlength=10 minlength=1 placeholder="Volume" value=""  autofocus/> ml<br>
        <p> </p>
        <input type="submit" name="submit" id="post" value="Visualize"/><br>
        </font>
    </form>
</body>
</html>
